# Server Configuration
PORT=8080
NODE_ENV=development

# Database
DATABASE_URL="file:./dev.db"

# HH.ru OAuth
HH_CLIENT_ID=PJHSPMNBLSP2UCKNSS33I8FT4NTI66QECEAC9DJSEJLROC008UC4BBD0C1S5DL5N
HH_CLIENT_SECRET=RR8PRNLKH7QGI09MAV8RDMRJQO5K6AKUICNSIPPHD7V38UUVF847ABANLAGNVOOJ
HH_REDIRECT_URI=http://localhost:8080/callback

# JWT Secret
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Encryption
ENCRYPTION_KEY=your-32-character-encryption-key-change-this
